{% load static %}
<nav class="navbar navbar-light" style="background-color: #333;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}" style="color:white">
        <img src="{% static 'img/logo2.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
        VACUNASSIST
      </a>
      <ul class="nav justify-content-end">
        {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{request.user.first_name}} {{request.user.last_name}}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

              <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalCerrarSesion">
                Cerrar Sesion
              </button></li>

              {% if perfil == 'paciente' %}
              <li><a class="dropdown-item" href="{% url 'ver_paciente'  %}">Perfil</a></li>
              <li><a class="dropdown-item" href="{% url 'cambiar_contraseña' request.user.id %}">Cambiar contraseña</a></li>             
              {% endif %}
              {% if perfil == 'vacunador' %}
              <li><a class="dropdown-item" href="{% url 'ver_vacunador'  %}">Perfil</a></li>
              <li><a class="dropdown-item" href="{% url 'cambiar_contraseña' request.user.id %}">Cambiar contraseña</a></li>
              <li><a class="dropdown-item" href="{% url 'crear_paciente'  %}">Registrar Paciente</a></li>
              
              {% endif %}
              {% if perfil == 'administrador' %}
              <li><a class="dropdown-item" href="{% url 'crear_vacunador'  %}">Registrar Vacunador</a></li>
              <li><a class="dropdown-item" href="{% url 'eliminar_vacunador' %}">Eliminar Vacunador</a></li>
              {% endif %}


            </ul>
          </li>
        {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Iniciar Sesion</a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'login_paciente' %}">Paciente</a></li>
              <li><a class="dropdown-item" href="{% url 'login_general' %}">Vacunador/Administrador</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'registro' %}">Registrarse</a>
          </li>
        {% endif %}
      </ul>
    </div>
</nav>

<div class="modal fade" id="modalCerrarSesion" tabindex="-1" aria-labelledby="modalCerrarSesion" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Desea cerrar sesion?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <a class="btn btn-primary" href="{% url 'cerrar_sesion' %}">Aceptar</a>
      </div>
    </div>
  </div>
</div>