{% extends 'main.html' %}

{% block title %}
  <title>VACUNASSIST | Cambio Contraseña</title>
{% endblock %}

{% block content %}
    <div class="container" style="display: flex; align-items: center; justify-content: center; min-height: 80vh">
      <form action="" method="POST">
        {% csrf_token %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {{formUsuario.non_field_errors}}
        <div class="row">
          <div class="col-6">
            <label for="">Contraseña Actual</label>
            <input class="form-control" type="password" name="contraseña_vieja" id="contraseña_vieja">
          </div>
        </div>
        <div class="row">
            {% for field in formUsuario %}
            <div class="col-6">
                {{field.label}}
                {{field}}
                <div class="form-text">
                  {{field.help_text}}
                </div>
            </div>
            {% endfor %}
        </div> 

        <div class="row" style="padding-top: 10px;">
          <div class="col-6">
            <input type="submit" class="btn btn-primary" value="Aceptar" />
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-danger">Cancelar</a>
          </div>
        </div>  
      </form>
    </div>
{% endblock %}