{% extends 'main.html' %}

{% block title %}
  <title>VACUNASSIST | Registro</title>
{% endblock %}

{% block content %}
    <div class="container" style="display: flex; align-items: center; justify-content: center; min-height: 80vh">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            {{formUsuario.non_field_errors}}
            {{formPaciente.non_field_errors}}
            {% for field in formUsuario %}
            <div class="col-6">
                {{field.label}}
                {{field}}
                <div class="form-text">
                  {{field.help_text}}
                </div>
            </div>
            {% endfor %}
            <div class="col-6">
              <label>Posta</label>
              <select name="posta" id="posta" class="form-control">

                {% if request.user.is_authenticated %}
                  <option selected value={{posta}}>{{posta_por_defecto}}</option>
                  <option value="Z1">Municipalidad</option>
                  <option value="Z2">Cementerio</option>
                  <option value="Z3">Terminal</option>
                {% else %}
                  <option selected value="NA">Seleccione una posta</option>
                  {% if cercania == 'municipalidad' %}
                    <option value="Z1">Municipalidad (Mas cercano)</option>
                    <option value="Z2">Cementerio</option>
                    <option value="Z3">Terminal</option>
                  {% elif cercania == 'cementerio' %}
                    <option value="Z1">Municipalidad</option> 
                    <option value="Z2">Cementerio (Mas cercano)</option>
                    <option value="Z3">Terminal</option>
                  {% elif cercania == 'terminal' %}
                    <option value="Z1">Municipalidad</option>
                    <option value="Z2">Cementerio</option>
                    <option value="Z3">Terminal (Mas cercano)</option>
                  {% elif cercania == '' %}
                    <option value="Z1">Municipalidad</option>
                    <option value="Z2">Cementerio</option>
                    <option value="Z3">Terminal</option>
                  {% endif %}
                {% endif %}
              </select>
            </div>
        </div> 
        
        <div class="row">
            {% for field2 in formPaciente %}
            <div class="col-6">
                {{field2.label}} 
                {{field2}}
                <div class="form-text">
                  {{field2.help_text}}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row" style="padding-top: 10px;">
          <div class="col-6">
            <input type="submit" class="btn btn-primary" value="Aceptar" />
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-danger">Cancelar</a>
          </div>
        </div>  
      </form>
    </div>
{% endblock %}
