{% extends 'main.html' %}

{% block content %}
    <div style="display: fixed; height: 100%; width : 100%">
      
        <iframe style="display: inline;  position: absolute ; height: 100%; width: 100%;"   src="http://localhost:3000/d/LXctt9j7k/new-dashboard-2?orgId=1&var-vacuna=All&var-fecha=All&from=1657376993670&to=1657398593670"></iframe>

        <span style="display: inline; position: absolute; height: 100%; width: 70px; background-color: rgb(17, 18, 23);;"></span>
        <span style="display: inline;  position: absolute ;height: 7%; width: 100%; background-color: rgb(17, 18, 23);"></span>
        <!-- <span style="display: inline;  position: absolute ; right:0; height: 6%; width: 6.8%; background-color: rgb(17, 18, 23);"></span> -->
        <!-- <iframe position=absolute overflow=hidden  frameborder="0" height=970 width=100%   src="http://localhost:3000/d/LXctt9j7k/new-dashboard?orgId=1&var-paciente=1&var-token=KdIQ&var-token=KIFD&var-token=tnEb&var-token=sWKY&var-token=R7mx&var-token=MXiI&var-token=Gwn8&viewPanel=2&from=1656746560875&to=1656768160876"" width="100%"></iframe> -->
             
    </div>
{% endblock %}