{% extends 'main.html' %}

{% block title %}
  <title>VACUNASSIST | Turnos del Dia</title>
{% endblock %}

{% block content %}
    <div style="display: flex; align-items: center; justify-content: center; min-height: 80vh">
        <form action="#" method="POST">
            {% csrf_token %}
            <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">Vacuna</th>
                  <th scope="col">Posta</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
              {% for turno in turnos %}
                  <tr>
                      <td>{{turno.vacuna.get_name_display}}</td>
                      <td>{{turno.posta.printNombre}}</td>
                      <td>{{turno.fecha|date:'Y-m-d'}}</td>
                      <td>{{turno.estado}}</td>
                  </tr>
                  <div class="modal fade" id="{{turno.user.user.first_name}}" tabindex="-1" aria-labelledby="{{turno.user.user.first_name}}" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Observaciones del Paciente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <textarea name="observacion{{turno.user.id}}" id="observacion{{turno.user.id}}" cols="30" rows="2"></textarea>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          </div>
                        </div>
                      </div>
                  </div>
              {% endfor %}
              </tbody>

          </table>
          <div class="row" style="padding-top: 10px;">
            <div class="col-3">
              <input type="submit" class="btn btn-primary" value="Volver al home" />
            </div>
          </div>
      </form>
  </div>
{% endblock %}